.recipeDetailPage {
    width: 800px; 
    height: auto;
    margin: 20px auto;
    border-radius: 30px ;
    padding: 20px;
    background-color: rgb(207, 210, 210);
    border: 2px solid black;
}

.column {
    flex: 1;
    margin: 10px;
}

.recipeDetailPage h2 {
    font-size: 30px; 
    margin-bottom: 20px;
}

.recipeDetailPage img {
    height: auto;
    margin-bottom: 20px;
    width: 15%; 
}

.recipeDetailPage p {
    font-size: 15px; 
    margin-bottom: 15px;
}

.recipeDetailPage ul,
.recipeDetailPage ol {
    margin-bottom: 15px;
}

.recipeDetailPage li {
    font-size: 15px; 
    margin-bottom: 5px;
}

.recipeDetailPage p:last-child {
    margin-bottom: 0;
    font-style: italic;
}

.recipeDetailPage p:nth-last-child(1)::before {
    font-size: 12px; 
    content: " (---- ";
}

.recipeDetailPage p:nth-last-child(1)::after {
    font-size: 12px; 
    content: " ----) ";
}
.recipeDetailPage button {
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.recipeDetailPage button:hover {
    background-color: rgb(255, 127, 127);
}