.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: lightgray;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    color: #ecf0f1;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    transition: 0.3s;
}

.sidebar ul li:hover {
    background-color: grey;
    cursor: pointer;
}

.sidebar ul a {
    color: black;
    text-decoration: none;
}